<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Plot Selector</title>
    <link href='plot_selector/static/css/style.css' rel="stylesheet">
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.0.3.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-3.0.3.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-3.0.3.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-gl-3.0.3.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-mathjax-3.0.3.min.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="outer-div">
    <div class="inner-div">
        <div class="container">
            <div class="item_1_1" id="item_1_1">
                <div class="plot_box">
                    <div class="plus"> </div>
                </div>
            </div>
            <div class="item_2_1" id="item_2_1">
                <div class="plot_box">
                    <div class="plus"> </div>
                </div>
            </div>
            <div class="item_3_1" id="item_3_1">
                <div class="plot_box" id="plot_box_3_1">
                    <div class="plus" id="plus"> </div>
                </div>
            </div>
            <div class="item_1_2">
                <div class="plot_box">
                    <div class="plus"> </div>
                </div>
            </div>
            <div class="item_2_2">
                <div class="plot_box">
                    <div class="plus"> </div>
                </div>
            </div>
            <div class="item_3_2">
                <div class="plot_box">
                    <div class="plus"> </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="plot_selector/static/js/plot_selector.js"></script>
</body>