setuptools~=60.10.0
packaging~=21.3
bokeh~=3.1.1
jupyter-bokeh
Flask-Cors
numpy~=1.23.5
pandas~=1.5.2
requests~=2.28.1
astropy~=5.1.1
pytz~=2023.3
types-pytz~=2023.3.0.0
nest-asyncio~=1.5.6
lsst-efd-client~=0.12.0
lsst-daf-butler~=25.2023.2000
asgiref~=3.6.0
pyyaml~=6.0
types-PyYAML~=6.0.12.9
typing-extensions~=4.5.0