{% extends base %}
<!-- goes in head -->
{% block preamble %}
<link href="sandbox/static/css/styles.css" rel="stylesheet">

{% endblock %}
{% block contents %}
<div style="height: 75px;"></div>
<div class="outer-div">
    <div class="inner-div">
        {{ embed(roots.empty) }}
<!--        <div id = "myDIV" class="center">
        </div>-->
    </div>
</div>
<script>
const sleep = ms => new Promise(r => setTimeout(r, ms));
    document.getElementById("myDIV").onscroll = function() {myFunction()};

function myFunction() {
    var a = element.scrollTop;
  console.log("You scrolled in div." + a);
}
</script>
{% endblock %}