{% extends base %}
<!-- goes in head -->
{% block preamble %}
<link href='log_reader/static/css/style.css' rel="stylesheet">
{% endblock %}
{% block contents %}
<div style="height: 50px;"></div>
<div class="outer-div">
    <div class="inner-div">
        <div class="container">
            <div class="item_1_1">
                {{ embed(roots.salindex_selector) }}
            </div>
            <div class="item_1_2">
                {{ embed(roots.date_selector) }}
            </div>
            <div class="item_2_1">
                <button class="advance_btn" onclick="advance_log_info()"><i class="arrow down"></i></button>
            </div>
            <div class="item_3_1">
                <button class="rewind_btn"  onclick="rewind_log_info()"> <i class="arrow up"></i></button>
            </div>
            <div class="item_3_3">
                <div id='show_logger' style="height: 500px; overflow-y:auto;">

                </div>
            </div>
        </div>
    </div>
</div>
<script src='log_reader/static/js/log_reader_actions.js'></script>
<script type="text/javascript">
    window.onload = function(){
        data_sever_information.set_host("{{ data_server_host | safe }}");
        data_sever_information.set_port("{{ data_server_port | safe }}");
        initialize_scroll();
    }
</script>
{% endblock %}