.outer-div {
        width: 100%;
        text-align: center;
}

.inner-div {
    display: inline-block;
    margin: 0 auto;
    padding: 3px;
    background-color: #8ebf42
}

.center {
  margin: auto;
  border: 3px solid #ff0099;
  padding: 10px;
  display: inline-block;
  flex-direction: column;
  justify-content: space-around;
}