.outer-div {
    width: 100%;
    text-align: center;
}

.inner-div {
    display: inline-block;
    width: 80%;
    margin: 0 auto;
    padding: 3px;
    background-color: #bfae42;
    border-radius: 5px;
}

.container {
    display: grid;
    grid-template-columns: [column1] 33% [column2] 34% [column3] 33%;
    grid-template-rows: [row1] 50px [row2] 50px [row3] auto;
}

.inner-div button {
    color: #FFAE00;
    width: 90%;
    height: 90%;
    background-color: #bfae42;
    border: solid #ffffff 1px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
}

.arrow {
    border: solid #ff00a6;
/ / solid #ffce00;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    font-size: 100px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.inner-div button:hover {
    background: #5d5c22;
}

.item_1_1 {
    grid-column: 1;
    grid-row: 1;
}

.item_2_1 {
    grid-column: 2;
    grid-row: 1;
    padding-top: 2px;
}

.item_1_2 {
    grid-column: 1;
    grid-row: 2;
}

.item_3_1 {
    grid-column: 3;
    grid-row: 1;
    padding-top: 2px;
}

.item_3_3 {
    grid-column: 1 / span 3;
    grid-row: 3;
    text-align: left;
}

.accordion {
    width: 90%;
    max-width: 1200px;
    margin: 2rem auto;
}

.accordion-item {
    background-color: #fff;
    color: #111;
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    font-size: 24px;
}

.accordion-item-header {
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.accordion-item-header::after {
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
}

.accordion-item-header.active::after {
    content: "\2212";
}

.accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion-item-body-content {
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

@media (max-width: 767px) {
    html {
        font-size: 20px;
    }
}

.not-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}