{% extends base %}
<!-- goes in head -->
{% block preamble %}
<link href="log_reader/static/css/style.css" rel="stylesheet">
{% endblock %}
{% block contents %}
<div style="height: 50px;"></div>
<div class="outer-div">
    <div class="inner-div">
        <div class="container">
            <div class="item_1_1">
                {{ embed(roots.date_selector) }}
            </div>
            <div class="item_2_1">
                {{ embed(roots.salindex_selector) }}
            </div>
            <div class="item_2_2">
                {{ embed(roots.log_viewer) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}