<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Bokeh Application Selector</title>
</head>
<body>
  <div>
    <!-- <a  target="_blank" href="http://localhost:5006/log_messages_app"> Log reader message</a><br/>
    <a  target="_blank" href="http://localhost:5006/interactive_example"> Interactive Example</a><br/>
    <a  target="_blank" href="http://localhost:8000/simple_widget"> Simple Application</a><br/>
    <a  target="_blank" href="http://localhost:8000/plot_selector"> Plot Selector</a><br/> -->
    <a  target="_blank" href="http://{{flask_server_connection}}/examples"> Examples </a><br/>
  </div>
</body>
</html>