.outerdiv {
    width: 100%;
    text-align: center;
}

.innerdiv {
    display: inline-block;
    width: 80%;
    margin: 0 auto;
    padding: 3px;
    background-color: #bfae42;
    border-radius: 5px;
}